html {
  --springen-active-color: #296bef;
}

/* ==========================================================================
    Vertical
   ========================================================================== */

[data-springen-vertical] {
  position: relative;
  width: fit-content;
  white-space: nowrap;
}

[data-springen-vertical-item] {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 30px;
  font-size: 18px;
  color: rgba(51, 55, 61, 0.58);
  cursor: pointer;
}

[data-springen-vertical-item] svg {
  flex: none;
  fill: rgba(62, 69, 82, 0.36);
}

[data-springen-vertical-item-layer='true'] {
  -webkit-text-stroke: 0.5px;
  color: var(--springen-active-color);
}

[data-springen-vertical-item-layer='true'] svg {
  fill: var(--springen-active-color);
}

[data-springen-vertical-layer] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-vertical-indicator-wrapper] {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

[data-springen-vertical-indicator] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--springen-active-color);
  border-radius: inherit;
}

/* ==========================================================================
    Divider
   ========================================================================== */

[data-springen-divider] {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: fit-content;
}

[data-springen-divider-divider] {
  width: 1px;
  height: 12px;
  background-color: rgba(73, 90, 122, 0.12);
}

[data-springen-divider-layer] {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-divider-item] {
  font-size: 14px;
  cursor: pointer;
  color: rgba(51, 55, 61, 0.58);
}

[data-springen-divider-item] svg {
  flex: none;
  fill: rgba(62, 69, 82, 0.36);
}

[data-springen-divider-item-layer] {
  color: var(--springen-active-color);
  -webkit-text-stroke: 0.1px;
}

[data-springen-divider-item-disabled='true'] {
  cursor: not-allowed;
}

/* ==========================================================================
    ButtonGroup
   ========================================================================== */

[data-springen-button-group] {
  position: relative;
  width: fit-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
  border: 1px solid rgba(73, 90, 122, 0.12);
  border-radius: 6px;
}

[data-springen-button-group-item] {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 12px;
  height: 36px;
  font-size: 14px;
  cursor: pointer;
  color: rgba(51, 55, 61, 0.58);
}

[data-springen-button-group-item] svg {
  flex: none;
  fill: rgba(62, 69, 82, 0.36);
}

[data-springen-button-group-item-layer] svg {
  fill: currentColor;
}

[data-springen-button-group-layer] {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-button-group-item-layer] {
  color: var(--springen-active-color);
  -webkit-text-stroke: 0.1px;
}

[data-springen-button-group-indicator] {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  border-radius: 6px;
}

[data-springen-button-group-indicator]::before,
[data-springen-button-group-indicator]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

[data-springen-button-group-indicator]::before {
  background-color: var(--springen-active-color);
  opacity: 0.06;
}

[data-springen-button-group-indicator]::after {
  outline: 2px solid var(--springen-active-color);
  border-radius: inherit;
  opacity: 0.8;
}

/* ==========================================================================
    Tabs
   ========================================================================== */

[data-springen-tabs] {
  position: relative;
  width: fit-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

[data-springen-tabs-layer] {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-tabs-item] {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}

[data-springen-tabs-item-layer] {
  color: var(--springen-active-color);
}

[data-springen-tabs-indicator] {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: var(--springen-active-color);
  border-radius: 8px;
  pointer-events: none;
}

/* ==========================================================================
    Tag
   ========================================================================== */

[data-springen-tag] {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
}

[data-springen-tag-layer] {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-tag-item] {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0 12px;
  height: 30px;
  font-size: 14px;
  color: rgba(51, 55, 61, 0.58);
  background-color: rgba(73, 90, 122, 0.03);
  cursor: pointer;
  border-radius: 6px;
}

[data-springen-tag-item] svg {
  flex: none;
  fill: rgba(62, 69, 82, 0.36);
}

[data-springen-tag-item-layer] {
  color: var(--springen-active-color);
  background-color: #eef3fe;
}

[data-springen-tag-item-layer] svg {
  fill: currentColor;
}

/* ==========================================================================
    HoverFill
   ========================================================================== */

[data-springen-hover-fill] {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  user-select: none;
}

[data-springen-hover-fill-bg] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  transform: scale(0.8);
  transition: transform 0.25s cubic-bezier(0.32, 0.72, 0, 1), background 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-hover-fill-content] {
  position: relative;
  z-index: 1;
}

[data-springen-hover-fill-content] > * {
  cursor: pointer;
}

*:focus-within [data-springen-hover-fill-bg] {
  opacity: 0 !important;
}

/* ==========================================================================
    Pagination
   ========================================================================== */

[data-springen-pagination] {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

[data-springen-pagination-item] {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.95);
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-hover-fill] {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  pointer-events: none;
  transition: left 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-hover-fill-bg] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 34, 38, 0);
  border-radius: 6px;
  transform: scale(0.8);
  transition: transform 0.25s cubic-bezier(0.32, 0.72, 0, 1), background 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-active-indicator] {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #f5f8ff;
  border: 1px solid var(--springen-active-color);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-item-active='true'] {
  color: var(--springen-active-color);
  font-weight: 600;
}

[data-springen-pagination-item-disabled='true'] {
  cursor: not-allowed;
  color: rgba(69, 80, 102, 0.25);
}

[data-springen-pagination-item-ellipsis-icon] {
  transition: opacity 0.1s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-item-ellipsis-icon-hover] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-item-ellipsis]:hover [data-springen-pagination-item-ellipsis-icon] {
  opacity: 0;
}

[data-springen-pagination-item-ellipsis]:hover [data-springen-pagination-item-ellipsis-icon-hover] {
  opacity: 1;
}

/* ==========================================================================
    Slider
    Slider uses RcSlider, so we need to use class name to override styles.
   ========================================================================== */

[data-springen-slider-wrapper] {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}
.springen-slider {
  flex: 1;
  list-style: none;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px 0;
  height: 12px;
  cursor: pointer;
}

.springen-slider-hasMarks {
  padding-bottom: 12px;
}
.springen-slider-rail {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #e6e6e6;
  border-radius: 2px;
  transition: background-color 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}
.springen-slider-track {
  position: absolute;
  height: 4px;
  background-color: var(--springen-active-color);
  border-radius: 4px;
  transition: background-color 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-slider-handle-wrapper] {
  position: relative;
}

.springen-slider-handle {
  position: absolute;
  margin-top: -4px;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: border-color 0.25s cubic-bezier(0.32, 0.72, 0, 1), transform 0.25s cubic-bezier(0.32, 0.72, 0, 1),
    box-shadow 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

.springen-slider-handle.springen-slider-handle-dragging {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.springen-slider-handle:hover {
  transform: scale(1.2);
}
.springen-slider-handle:focus {
  outline: none;
}
.springen-slider-handle.ant-tooltip-open {
  border-color: #1890ff;
}
.springen-slider:hover .springen-slider-rail {
  background-color: #d6d6d6;
}
.springen-slider:hover .springen-slider-handle:not(.ant-tooltip-open) {
  border-color: #69c0ff;
}
.springen-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
.springen-slider-mark-text {
  position: absolute;
  top: 14px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #1f1f1f;
  word-break: keep-all;
  cursor: pointer;
}
.springen-slider-disabled {
  cursor: not-allowed;
}

.springen-slider-disabled .springen-slider-mark-text,
.springen-slider-disabled .springen-slider-handle {
  cursor: not-allowed;
}

[data-springen-slider-handle-tooltip] {
  position: absolute;
  left: 50%;
  bottom: 22px;
  padding: 10px 20px;
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
  background-color: #393939;
  border-radius: 6px;
  transform: translate3d(-50%, 0, 0) scale(0.8);
  opacity: 0;
  visibility: hidden;
  transform-origin: 50% calc(100% + 4px);
  transition: all 0.15s cubic-bezier(0.32, 0.72, 0, 1) 0.1s;
}

[data-springen-slider-handle-tooltip]::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-width: 5px 5px 0;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #393939;
  border-style: solid;
}

[data-springen-slider-handle-tooltip-visible='true'] {
  opacity: 1;
  visibility: visible;
  transform: translate3d(-50%, 0, 0) scale(1);
  transition: all 0.15s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-slider-range-tooltip-wrapper] {
  position: absolute;
  inset: 0 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-slider-range-tooltip-wrapper][data-springen-slider-range-tooltip-wrapper-visible='true'] {
  opacity: 1;
  visibility: visible;
}

[data-springen-slider-range-tooltip-wrapper-visible][data-springen-slider-range-tooltip-wrapper-combined='true']
  [data-springen-slider-range-tooltip] {
  color: transparent;
}

[data-springen-slider-range-tooltip-wrapper-visible][data-springen-slider-range-tooltip-wrapper-combined='true']
  [data-springen-slider-range-tooltip-left] {
  border-radius: 6px 0 0 6px;
}

[data-springen-slider-range-tooltip-wrapper-visible][data-springen-slider-range-tooltip-wrapper-combined='true']
  [data-springen-slider-range-tooltip-right] {
  border-radius: 0 6px 6px 0;
}

[data-springen-slider-range-tooltip-wrapper-visible][data-springen-slider-range-tooltip-wrapper-combined='true']
  [data-springen-slider-range-tooltip-combined] {
  opacity: 1;
  visibility: visible;
}

[data-springen-slider-handle-tooltip-wrapper-visible][data-springen-slider-handle-tooltip-wrapper-overlapped='true']
  [data-springen-slider-handle-tooltip-left] {
  opacity: 0;
  visibility: hidden;
}

[data-springen-slider-range-tooltip] {
  position: absolute;
  bottom: 22px;
  padding: 10px 20px;
  font-size: 13px;
  color: #fff;
  background-color: #393939;
  border-radius: 6px;
  transform: translate3d(-50%, 0, 0);
}

[data-springen-slider-range-tooltip]::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-width: 5px 5px 0;
  border-color: transparent;
  border-top-color: #393939;
  border-style: solid;
}

[data-springen-slider-range-tooltip-combined] {
  position: absolute;
  bottom: 22px;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  font-size: 13px;
}
